body{
    background-color: black;
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 30px;
    padding: 0;
    margin:20px 0 0 0;
    
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: green;
}
li{
    
}
section{
    display: flex;
    gap: 20px;
    
}
article{
    border: 1px solid green;
    border-radius: 4px;
    flex: 1;
}
div{
    padding: 0 0 10px 10px;
}